<a href="https://colab.research.google.com/github/abm4github/My_IITM_works/blob/main/IIT_M_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python for Data Science
##Foundational Course, IIT-M, B.Sc. in Programming and Data Science

This google colab is meant for the students of IIT-M, B.Sc. in Programming and Data Science. It is based on the syllabus of the year 2022.

Disclaimer: This is not an official notes by IIT-M, it is prepared by a student of IIT-M. Therefore the mistakes, if any in this colab are not attributed to IIT-M

##print() Statement

In [ ]:
#Let us see the different ways to use print() statement

#Using ' '
print('1+2=5')

#Using NO quotes
print(1+2)

#Using " "
print("Let's get started")

#Using ''' '''
print('''
Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \\ 
   //          Learn  |    Python       \\ 
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\\ 
 //__.....----~~~~._\ | /_.~~~~----.....__\\
====================\\|//====================
                    `---`''')

1+2=5
3
Let's get started

Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \
   //          Learn  |    Python       \
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\
 //__.....----~~~~._\ | /_.~~~~----.....__\
====================\|//====================
                    `---`

###Observations: print() statement

1. Whatever is typed in between two single quotes ' ' is printed as it is in the output even if it is illogical. Here, it is printed that the sum of 1 and 2 as 5.

2. Whatever is given print() statement without quotes is calculated/ processed befor it ouputs.

3. If we use single quote as a part of out sentence/statement, then double quotes are used at the start and at the end, inside a print() statement.
Example: "Adam's progeny".

4. If we want something to be printed as it is, in multiple lines we can use 3 single quotes both at the start and at the end, inside a print statement.

###Undesirable results: print() statement

In [ ]:
#As we provide NO quotes, it tried to process it, but it already received
# expression, therefore it throws an error note. (syntax)

print(1+2=3)

SyntaxError: ignored

In [ ]:
#It prints as it is without processing/calculating 1+2 as it is provided betweem quotes (single or double)
print("1+2")

1+2

In [ ]:
#Confused with single and double quotes: It takes 'let' as a sentence and remaining all makes no sense to it
print('Let's get started')

SyntaxError: ignored

In [ ]:
#If triple quotes replaced with double/ single quotes, it cannot print
# multiple lines especially the ones with combination of single and double quotes.
print("
Hi, I am Abdullah Bin Mohammed,
from India, This is my 'Introduction to Python' course.
      __...--~~~~~-._   _.-~~~~~--...__
    // Let's         `V'               \\ 
   //          Learn  |    Python       \\ 
  //__...--~~~~~~-._  |  _.-~~~~~~--...__\\ 
 //__.....----~~~~._\ | /_.~~~~----.....__\\
====================\\|//====================
                    `---`")

SyntaxError: ignored

In [ ]:
#Case sensitive: Print() != print(), the latter is correct and the former is
# incorrect as it contains P instead of p
Print('Python')

NameError: ignored

###Additional information: print() statement

*  Activity
*  Analyse/understand them on your own

In [ ]:
a = 10
print(a)
print(f'The value of a is {a}')

10
The value of a is 10

In [ ]:
print{"python"}

SyntaxError: ignored

In [ ]:
print["python"]

TypeError: ignored

In [ ]:
print<"python">

SyntaxError: ignored

In [ ]:
#new line character '\n'
print("End of Print() statement\nLet's now learn Input() statement")

End of Print() statement
Let's now learn Input() statement

##Variables and input() statement

In [ ]:
#Assigning a value to a variable directly in the code part.
a = 'z'
print(a)

e = 'Eve'
print(b)

c = '10'
print(c)

A = 100
print(A)

a1 =101
print(a1)

a_point = 100.1
print(a_point)

_space = 'CoSmOs'
print(_space)

z
q
10
100
101
100.1
CoSmOs

In [ ]:
# Alternate way of assigning a value to the variable 
# (through input() statement, also called dynamic inputting)
PI = input()
print (PI)

print('\n') #leaves a line space in the output

Score = input("Enter your python score: ")
print(Score)

3.14
3.14


Enter your python score: 100
100

###Observations: Variable and input() statement
*   We can have variables comprising uppercase and lowercase alphabets, numbers and underscore symbol: _ 
*   We can store various tpyes of values like single character(alphabet or number character), string(group of characters, sentences) and numerical values(integers, float-decimals..).
*   Variable A and variable a are NOT same (variables are case sensitive).
*   We use ' ' or " " to let know python that its a string and for number values no quotes are required unless they are a character.
*   We can take the value of the variable from output using input() statement.
*   input() statement takes values and store them as a string by default.
*   We can add strings inside input() statement.

###Undesirable results: variable and input() statement

In [ ]:
#some words are reserved in pyton that cannot be used as variables
True = 'yes'

SyntaxError: ignored

In [49]:
#No gaps/blank space is allowed in between the name of a variable
my name = "Abdullah"

SyntaxError: ignored

In [ ]:
#eventhough we can use numbers in variable names, they cannot begin with numbers
1a = 103

SyntaxError: ignored

In [ ]:
#No quotes are acceptable in variable name
'a1' = 10

SyntaxError: ignored

In [ ]:
#recap c = '10' and A = 100, c is string and A is an integer, they cannot be 
# added as they are of different data types
print(c+A)

TypeError: ignored

In [ ]:
#As PI is assigned a value using input() statement, it stores a string of 3.14
#'3.14' but not as 3.14, therefore we cannot add/concatenate integer to a string
print(Pi + 10)

TypeError: ignored

In [ ]:
#Variable name is case sensitive, pi != Pi
print(pi)

NameError: ignored

###Additional information: Variables and input() statement

In [ ]:
#input() assigned a string value called Ayyan to n
#therefore n = "Ayyan"
#print() have the value of n added by typing n in between two commas: ,n,
# note that the string before n is closed and string, thereafter, is opened using "
n = input()
print("Hi",n)
print("Hello",n,"how are you?")

Ayyaan
Hi Ayyaan
Hello Ayyaan how are you?

In [48]:
#Genetally input() takes value as a string, we are converting it into an integer
#besides int, we can use float, string ... 
kbc = int(input("Enter the value you have won: "))
print(kbc)
print(kbc*10)  #It will not modify the variable kbc
print(float(kbc))  #It will not modify the variable kbc

Enter the value you have won: 10000000
10000000
100000000
10000000.0

In [51]:
#We can modify value in input() using .lower() and .upper() to obtain lowercase
# and uppercase values respectively 
my_name = input("Enter your first name: ").upper()
print(my_name)

Enter your first name: abdullah
ABDULLAH